<div id="jacobsStinkyFeet">
  <div class="row">
    <div class="col-sm-12">
      <h2>Websites assotiated with us</h2>
      <a href="http://houseofscience.nz/">House of Science</a><br>
      <a href="https://www.vexrobotics.com/">VEX robotics</a>
    </div>
  </div>
</div>