.subnotes{
    background-color: rgba(255,255,255,0.2);
    height: 200px;
}
#about{
    text-align: center;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
    height: 400px;
  position: relative;
  margin: auto;
}



/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.4);
}
.mySlides{
    display: none;
    text-align: center;
}
#article0 {
    display: block;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */



#maininfo {
	background-color: rgba(255, 255, 255, 0.6);
}
#clickBait {
	/*background-color: #3d4b52;*/
	text-align: center;
	color: #347B98;
	background-color: white;
}
.peopleWhoAreFired {
	
}
.articleimgslide {
    margin: auto;
    max-height: 400px;
}
.articleimg {
	margin: auto;
	max-height: 270px;
}
.link {
	color: #0033cc;
	background-color: white;
}
.link1 {
	background-color: white;
}
 
#title {
	padding: 17px;
	background-color: #6d8ba2;
	text-align: center;
	color: white;
	font:comic-sans;
}
.section {
	color: #001d29;
	min-height: 377px;
	padding: 10px;
	border-color: #0099ff;
	border-width: 1px;
	border-radius: 5px;
	margin: 0px;
}
.box {
	margin: 10px;
	/*padding-left: 10px;*/
	border-style: solid;
	border-color: #0099ff;
	border-width: 1px;
	min-height: 270px;

	/*background-color: #F0F7D4;*/
	border-radius: 5px;
}
.affix {
      top: 0;
      width: 100%;
  }
#ads {
	background-color: #3d4b52;
	color: #347B98;
}
.affix + .container-fluid {
      padding-top: 70px;
  }
body {
	background-image: url("/images/background.png");
}
#jacobsStinkyFeet {
	background-color: #3d4b52;
	text-align: center;
	color: white;
}
/*a {
	color: orange;
}
.title1 {
	color: orange;
	
}*/
.top {
	border-bottom: 1px solid #0099ff;
	background-color: rgba(255, 255, 255, 0.4);
	margin: -15px;
}
.navigationLinks {
	width: 33.5%;
	height: 30px;
	text-align: center;
	background-color: #347B98;
}
