<?xml version="1.0" encoding="UTF-8"?>
<master>
<article>
    <category>People</category>
    <date>4/1/2018</date>
    <title>Toni</title>
    <picture>Team.png</picture>
    <text>Toni is in charge of fund raising and logistics. Has been to four worlds. She is also the Bay of Plenty/Waikato Regional Representative for Kiwibot.</text>
  </article>
  <article>
    <category>Club</category>
    <date>4/1/2018</date>
    <title>House of Science Robotics Holiday Program</title>
    <picture>HOS.png</picture>
    <text>House of Science regularly runs robotic programs to fund raise for the robotics program. This year we are running one from the 15th to the 19th of january. It is for 10-15 year olds and costs $225 per child. We will be working on making a VEX IQ bot for a specific challenge, using mBots and possibly.</text>
  </article>
  <article>
    <category>Club</category>
    <date>18/8/2017</date>
    <title>House of Science Robotics</title>
    <picture>HOS.png</picture>
    <text>This robotics group has ben running since 2014 and we currently have three High School VEX robots with 3 people to each robot and 4 VEXIQ Intermediate level robotic teams with two people in each team. The High School teams meet every Friday and Saturday and the VEXIQ teams meet every Friday. During the year we run 2 holiday programs to raise funds for entering the teams.</text>
  </article>
  <article>
    <category>Club</category>
    <date>18/8/2017</date>
    <title>We take misfits</title>
    <picture>Van.jpg</picture>
    <text>At house of science we pride ourselves in taking in people from schools that don't have robotics teams. These kids are not supported by their schools in there search for robots domination however they are emotionally supported by their schools. These kids under the guidance of shane and paul are train to be the very best at making VEX robots.</text>
  </article>
  <article>
    <category>People</category>
    <date>18/8/2017</date>
    <title>William</title>
    <picture>Team.png</picture>
    <text>William is a special child who is apart of 8757C and likes Lego. He is from Tauranga Boys and he is a prominant member of the community with almost no criminal record.</text>
  </article>
  <article>
    <category>People</category>
    <date>18/8/2017</date>
    <title>Paul</title>
    <picture>Team.png</picture>
    <text>Paul is our demonstator that demonstrates how to build VEX things. He has been here since the beginning of time (or the beginning of HOS robotics).</text>
  </article>
  <article>
    <category>People</category>
    <date>18/8/2017</date>
    <title>Hamish</title>
    <picture>Team.png</picture>
    <text>Hamish is appart of a VEXIQ who specialises in designing and building robots.</text>
  </article>
  <article>
    <category>People</category>
    <date>18/8/2017</date>
    <title>Orion</title>
    <picture>Team.png</picture>
    <text>Orion is appart of 8757B and is the programmer and secondary programmer. He is a funny guy.</text>
  </article>
  <article>
    <category>People</category>
    <date>18/8/2017</date>
    <title>George</title>
    <picture>Team.png</picture>
    <text>George is apart of 8757A, building and driving. He actually shows up to robotics.</text>
  </article>
  <article>
    <category>People</category>
    <date>18/8/2017</date>
    <title>Joe</title>
    <picture>Team.png</picture>
    <text>Joe is apart of 8757C specializing in programming and design notebooking(does some building and doesn't shave bearing). Joe programmed the website and is the one who typed this.</text>
  </article>
  <article>
    <category>People</category>
    <date>18/8/2017</date>
    <title>Sam</title>
    <picture>Team.png</picture>
    <text>Sam is part of 8757A and specializes in driving and can do some building. He is a capable builder.</text>
  </article>
  <article>
    <category>People</category>
    <date>18/8/2017</date>
    <title>Sam Gille Smith</title>
    <picture>Team.png</picture>
    <text> Sam is apart of 8757A and programs, drives and builds. He has been here since the beginning of time (or the beginning of HOS robotics).</text>
  </article>
  <article>
    <category>People</category>
    <date>18/8/2017</date>
    <title>Shane</title>
    <picture>Team.png</picture>
    <text>Shane provides example of how to code and he does VRU in his spare time.</text>
  </article>
  <article>
    <category>People</category>
    <date>18/8/2017</date>
    <title>Jacob</title>
    <picture>Team.png</picture>
    <text>Jacob is the leader of 8757C and does programming, design and driving. He has the greatest ideas...</text>
  </article>
  <article>
    <category>People</category>
    <date>19/8/2017</date>
    <title>Gaby</title>
    <picture>Team.png</picture>
    <text>Gaby is apart of 8757B is an all rounder. Only female at HOS robotics.</text>
  </article>
  <article>
    <category>Club</category>
    <date>19/8/2017</date>
    <title>HOS rules</title>
    <picture>Numatics.jpg</picture>
    <text>HOS robotics rules state: You are not allowed to sing 'I play Pokemon go' (also known as the 'forbidden song'), no wasting zip ties, not allowed to shoot any one with rubber band(with exception to fire a rubber band at people that sing 'I play Pokemon go'), you do not have the rights to any chair once you stand up the chair is free for all, if you drop a controller you must do 100 pushups, puns are PUNishable by death and Jacob may never take of his shoes at House of Science.</text>
  </article>
  <article>
    <category>Robot</category>
    <date>9/1/2018</date>
    <title>VRC 2016 Worlds Robot - Oblique Outlook</title>
    <picture>2016-Robot.jpg</picture>
    <text></text>
  </article>
</master>
