<% include ../partials/header.ejs %>

<div id="clickBait" ><!--data-spy="affix" data-offset-top="130"-->
    <ul class="nav nav-pills nav-justified link1" >
        <li ><a href="index.html" class="link">Home</a></li>
        <li ><a href="club.html" class="link">The People</a></li>
        <li ><a href="robots.html" class="link">The Robot</a></li>
        <li class="active"><a href="#">The Club</a></li>
    </ul>
</div>
<br>
<div class="row" id="maininfo">
    <div class="col-sm-6">
        <div class="peopleWhoAreFired" id="col1">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="peopleWhoAreFired" id="col2">
        </div>
    </div>
</div>
<br>
<% include ../partials/footer.ejs %>
<script>
    var category = "Club"
    <% include ../partials/script.ejs %>
</script>
</body>
</html>