<% include ../partials/header.ejs %>
<div id="clickBait" ><!--data-spy="affix" data-offset-top="130"-->
    <ul class="nav nav-pills nav-justified link1" >
        <li ><a href="/" class="link">Home</a></li>
        <li ><a href="/people" class="link">The People</a></li>
        <!--<li ><a href="/robots" class="link">The Robot</a></li>-->
        <li class="active"><a href="#">The Club</a></li>
    </ul>
</div>
<br>
<div id="maininfo">
    <p>Welcome to the club page, this page provides information about the club.<br>
        To navigate click on the headings to find out more.</p>

<% include ../partials/body.ejs %>
</div>
<% include ../partials/footer.ejs %>
<script>
    var category = "Club"
    <% include ../partials/script.ejs %>
</script>
</body>
</html>