<% include ../partials/header.ejs %>
<div id="clickBait" ><!--data-spy="affix" data-offset-top="130"-->
  <ul class="nav nav-pills nav-justified link1" >
    <li class="active"><a href="#">Home</a></li>
    <li><a href="/people" class="link">The People</a></li>
    <li><a href="/robots" class="link">The Robot</a></li>
    <li><a href="/club" class="link">The Club</a></li>
  </ul>
</div>
<div id="maininfo">
  <div class="slideshow-container">
    <!-- Full-width images with number and caption text -->
    <div id="slideshowt">
    
    </div>
    <p class="prev" >&#10094;</p>
    <p class="next" >&#10095;</p>
   </div>
    <!-- Next and previous buttons -->
    

<br>
<!--<div style="text-align:center">
    <div id="dots"></div>
</div>-->
    <div class="row">
        <div class="col-sm-8" id="about">
            <h2>About the club</h2><br>
            <p>Our club is based in Tauranga NZ and we take people from all over the area. Our club is based at House of Science Tauranga which is a charitable organisation that aims at getting science into primary schools. We run our club every friday from 5-7pm and on saturdays from 9-11am. We currently have 3 highschool teams and 4 VEX IQ teams.</p>
        </div>
        <div class="col-sm-4">
            <div id="map" style="width:400px;height:400px;"></div>
        </div>
    </div>
    <div>

    </div>
</div>
<% include ../partials/footer.ejs %>
<script>
    var articleNum = 0;
    var picNum;
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function(){
        if(this.readyState == 4 && this.status == 200){
            myFunction(this);
        }
    };
    xhttp.open("GET", "/images", true);
    xhttp.send();
    function myFunction(xml) {
        var xmlDoc = xml.responseXML;
        var date = xmlDoc.getElementsByTagName("date");
        var caption = xmlDoc.getElementsByTagName("caption");
        var image = xmlDoc.getElementsByTagName("src");
        picNum = date.length
        for(i = 0; i < date.length; i++){
                document.getElementById("slideshowt").innerHTML += "<div class='mySlides fade' id='article" + article +"'><div class='numbertext'>"+articleNum+" / "+ date.length +"</div><img src='/images/"+ image[i].childNodes[0].nodeValue +"' class='articleimgslide'><div class='text'>" + caption[i].childNodes[0].nodeValue +"</div></div>";
                //document.getElementById("dots").innerHTML += "<span class='dot'nclick='currentSlide("+articleNum+")'></span>";
            articleNum += 1;
        }
    }
    function myMap() {
        var mapCanvas = document.getElementById("map");
        var mapOptions = {
            center: new google.maps.LatLng(-37.686694, 176.168200),
            zoom: 10
        };
        var map = new google.maps.Map(mapCanvas, mapOptions);
    }
</script>
<script>
    var article = 0;
    $(document).ready(function(){
        $(".mySlide").hide();
        $("#article0").show();
        $(".next").click(function(){
            article += 1;
            $(".mySlide").hide();
            if(article <= articleNum){
                $("#article" + article).show();
                console.log(""+article);
            }else{
                article = 0;
                $("#article" + article).show();
            }
        });
        $(".prev").click(function(){
            article -= 1;
            $(".mySlide").hide();
            if(article >= 0){
                $("#article" + article).show();
            }else{
                article = articleNum;
                $("#article" + article).show();
            }
        });
    });
</script>
</body>
</html>
