<% include ../partials/header.ejs %>
<div id="clickBait" ><!--data-spy="affix" data-offset-top="130"-->
  <ul class="nav nav-pills nav-justified link1" >
    <li class="active"><a href="#">Home</a></li>
    <li><a href="/people" class="link">The People</a></li>
    <li><a href="/robots" class="link">The Robot</a></li>
    <li><a href="/club" class="link">The Club</a></li>
  </ul>
</div>
<div class="slideshow-container">
    <!-- Full-width images with number and caption text -->
    <div id="slideshow">

    </div>
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>
<div style="text-align:center">
    <div id="dots"></div>
</div>
<% include ../partials/footer.ejs %>
<script>
    var articleNum = 0;
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function(){
        if(this.readyState == 4 && this.status == 200){
            myFunction(this);
        }
    };
    xhttp.open("GET", "/images", true);
    xhttp.send();
    function myFunction(xml) {
        var xmlDoc = xml.responseXML;
        var date = xmlDoc.getElementsByTagName("date");
        var caption = xmlDoc.getElementsByTagName("caption");
        var image = xmlDoc.getElementsByTagName("src");
        for(i = 0; i < date.length; i++){
                articleNum += 1;
                document.getElementById("slideshow").innerHTML += "<div class='mySlides fade'><div class='numbertext'>"+articleNum+" / "+ date.length +"</div><img src='/images/"+ image[i].childNodes[0].nodeValue +"' style='width:100%'><div class='text'>" + caption[i].childNodes[0].nodeValue +"</div></div>";
                document.getElementById("dots").innerHTML += "<span class='dot'nclick='currentSlide("+articleNum+")'></span>";
        }
    }
    var slideIndex = articleNum;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1} 
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none"; 
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block"; 
  //dots[slideIndex-1].className += " active";
}
</script>
</body>
</html>
