<% include ../partials/header.ejs %>
<div id="clickBait" ><!--data-spy="affix" data-offset-top="130"-->
    <ul class="nav nav-pills nav-justified link1" >
        <li ><a href="/" class="link">Home</a></li>
        <li><a href="/people" class="link">The People</a></li>
        <li class="active"><a href="#">The Robot</a></li>
        <li><a href="/club" class="link">The Club</a></li>
    </ul>
</div>
<% include ../partials/body.ejs %>
<% include ../partials/footer.ejs %>
<script>
    var category = "Robot"
    <% include ../partials/script.ejs %>
</script>
</body>
</html>
